In [17]:
import numpy as np
import pandas as pd

In [18]:
data1 = pd.read_csv(r'C:\Users\Acer\Desktop\SMAP_POKHARA\himal\SMAP_SM_Himal_Bhalu_Lek.csv')
data2 = pd.read_csv(r'C:\Users\Acer\Desktop\SMAP_POKHARA\himal\SMAP_SM_Himal_Dharapani.csv')
data3 = pd.read_csv(r'C:\Users\Acer\Desktop\SMAP_POKHARA\himal\SMAP_SM_Himal_Gatlang.csv')
data4 = pd.read_csv(r'C:\Users\Acer\Desktop\SMAP_POKHARA\himal\SMAP_SM_Himal_Gokyo.csv')
data5 = pd.read_csv(r'C:\Users\Acer\Desktop\SMAP_POKHARA\himal\SMAP_SM_Himal_Langtang.csv')
data6 = pd.read_csv(r'C:\Users\Acer\Desktop\SMAP_POKHARA\himal\SMAP_SM_Himal_Limi.csv')
data7 = pd.read_csv(r'C:\Users\Acer\Desktop\SMAP_POKHARA\himal\SMAP_SM_Himal_Lo_Manthang.csv')
data8 = pd.read_csv(r'C:\Users\Acer\Desktop\SMAP_POKHARA\himal\SMAP_SM_Himal_OlangchungGola.csv')
data9 = pd.read_csv(r'C:\Users\Acer\Desktop\SMAP_POKHARA\himal\SMAP_SM_Himal_Shreemastha.csv')
data10 = pd.read_csv(r'C:\Users\Acer\Desktop\SMAP_POKHARA\himal\SMAP_SM_Himal_Tinje.csv')

In [19]:
data1

,system:index,date,soil_moisture,.geo
0,NASA_USDA_SMAP_SM20150402_20150404,2015-04-02,19.801674,"{""type"":""Point"",""coordinates"":[82.93,28.99]}"
1,NASA_USDA_SMAP_SM20150405_20150407,2015-04-05,19.124311,"{""type"":""Point"",""coordinates"":[82.93,28.99]}"
2,NASA_USDA_SMAP_SM20150408_20150410,2015-04-08,17.101339,"{""type"":""Point"",""coordinates"":[82.93,28.99]}"
3,NASA_USDA_SMAP_SM20150411_20150413,2015-04-11,14.834416,"{""type"":""Point"",""coordinates"":[82.93,28.99]}"
4,NASA_USDA_SMAP_SM20150414_20150416,2015-04-14,14.164279,"{""type"":""Point"",""coordinates"":[82.93,28.99]}"
...,...,...,...,...
888,NASA_USDA_SMAP_SM20220718_20220720,2022-07-18,23.152847,"{""type"":""Point"",""coordinates"":[82.93,28.99]}"
889,NASA_USDA_SMAP_SM20220721_20220723,2022-07-21,25.400000,"{""type"":""Point"",""coordinates"":[82.93,28.99]}"
890,NASA_USDA_SMAP_SM20220724_20220726,2022-07-24,25.400000,"{""type"":""Point"",""coordinates"":[82.93,28.99]}"
891,NASA_USDA_SMAP_SM20220727_20220729,2022-07-27,25.317924,"{""type"":""Point"",""coordinates"":[82.93,28.99]}"
892,NASA_USDA_SMAP_SM20220730_20220801,2022-07-30,24.490948,"{""type"":""Point"",""coordinates"":[82.93,28.99]}"

In [20]:
data1 = data1.drop(labels = ['system:index', '.geo'], axis = 1)

In [21]:
daily = data1.groupby('date').mean()

In [22]:
data1 ['week'] = np.ceil(data1.reset_index().index //7)+1
data1.reset_index(inplace = True)
data2 ['week'] = np.ceil(data2.reset_index().index //7)+1
data2.reset_index(inplace = True)
data3 ['week'] = np.ceil(data3.reset_index().index //7)+1
data3.reset_index(inplace = True)
data4 ['week'] = np.ceil(data4.reset_index().index //7)+1
data4.reset_index(inplace = True)
data5 ['week'] = np.ceil(data5.reset_index().index //7)+1
data5.reset_index(inplace = True)
data6 ['week'] = np.ceil(data6.reset_index().index //7)+1
data6.reset_index(inplace = True)
data7 ['week'] = np.ceil(data7.reset_index().index //7)+1
data7.reset_index(inplace = True)
data8 ['week'] = np.ceil(data8.reset_index().index //7)+1
data8.reset_index(inplace = True)
data9 ['week'] = np.ceil(data9.reset_index().index //7)+1
data9.reset_index(inplace = True)
data10 ['week'] = np.ceil(data10.reset_index().index //7)+1
data10.reset_index(inplace = True)

In [23]:
daily1 = data1.groupby('week').mean()
daily1.reset_index(inplace=True)
daily2 = data2.groupby('week').mean()
daily2.reset_index(inplace=True)
daily3 = data3.groupby('week').mean()
daily3.reset_index(inplace=True)
daily4 = data4.groupby('week').mean()
daily4.reset_index(inplace=True)
daily5 = data5.groupby('week').mean()
daily5.reset_index(inplace=True)
daily6 = data6.groupby('week').mean()
daily6.reset_index(inplace=True)
daily7 = data7.groupby('week').mean()
daily7.reset_index(inplace=True)
daily8 = data8.groupby('week').mean()
daily8.reset_index(inplace=True)
daily9 = data9.groupby('week').mean()
daily9.reset_index(inplace=True)
daily10 = data10.groupby('week').mean()
daily10.reset_index(inplace=True)

C:\Users\Acer\AppData\Local\Temp\ipykernel_6504\2215778457.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily1 = data1.groupby('week').mean()
C:\Users\Acer\AppData\Local\Temp\ipykernel_6504\2215778457.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily2 = data2.groupby('week').mean()
C:\Users\Acer\AppData\Local\Temp\ipykernel_6504\2215778457.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily3 = data3.groupby('week').mean()
C:\Users\Acer\AppData\Local\Temp\ipykernel_6504\2215778457.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily4 = data4.groupby('week').mean()
C:\Users\Acer\AppData\Local\Temp\ipykernel_6504\2215778457.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily5 = data5.groupby('week').mean()
C:\Users\Acer\AppData\Local\Temp\ipykernel_6504\2215778457.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily6 = data6.groupby('week').mean()
C:\Users\Acer\AppData\Local\Temp\ipykernel_6504\2215778457.py:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily7 = data7.groupby('week').mean()
C:\Users\Acer\AppData\Local\Temp\ipykernel_6504\2215778457.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily8 = data8.groupby('week').mean()
C:\Users\Acer\AppData\Local\Temp\ipykernel_6504\2215778457.py:17: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily9 = data9.groupby('week').mean()
C:\Users\Acer\AppData\Local\Temp\ipykernel_6504\2215778457.py:19: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily10 = data10.groupby('week').mean()

In [24]:
daily1 = daily.groupby('week').mean()
daily1.reset_index(inplace=True)

KeyError: 'week'

In [ ]:
daily1 = daily.groupby('week').mean()
daily1.reset_index(inplace=True)

In [ ]:
daily1 = daily.groupby('week').mean()
daily1.reset_index(inplace=True)

In [ ]:
daily1 = daily.groupby('week').mean()
daily1.reset_index(inplace=True)

In [ ]:
daily1 = daily.groupby('week').mean()
daily1.reset_index(inplace=True)

In [ ]:
daily1 = daily.groupby('week').mean()
daily1.reset_index(inplace=True)

In [ ]:
daily1 = daily.groupby('week').mean()
daily1.reset_index(inplace=True)

In [ ]:
daily1 = daily.groupby('week').mean()
daily1.reset_index(inplace=True)

In [ ]:
daily1 = daily.groupby('week').mean()
daily1.reset_index(inplace=True)

In [69]:
daily1

      week   index  soil_moisture
0      1.0     3.0       0.250857
1      2.0    10.0       0.242266
2      3.0    17.0       0.226301
3      4.0    24.0       0.245940
4      5.0    31.0       0.229759
..     ...     ...            ...
378  379.0  2649.0       0.303574
379  380.0  2656.0       0.292631
380  381.0  2663.0       0.281832
381  382.0  2670.0       0.294404
382  383.0  2676.0       0.288156

[383 rows x 3 columns]

KeyError: "['system:index', '.geo'] not found in axis"

In [70]:
daily1['mid_week_date'] = daily1['week'].apply(lambda x: data1['date'][(x-1)*7] if ((x-1)*7) in data1['date'].index else None)
daily2['mid_week_date'] = daily2['week'].apply(lambda x: data2['date'][(x-1)*7] if ((x-1)*7) in data2['date'].index else None)
daily3['mid_week_date'] = daily3['week'].apply(lambda x: data3['date'][(x-1)*7] if ((x-1)*7) in data3['date'].index else None)
daily4['mid_week_date'] = daily4['week'].apply(lambda x: data4['date'][(x-1)*7] if ((x-1)*7) in data4['date'].index else None)
daily5['mid_week_date'] = daily5['week'].apply(lambda x: data5['date'][(x-1)*7] if ((x-1)*7) in data5['date'].index else None)
daily6['mid_week_date'] = daily6['week'].apply(lambda x: data6['date'][(x-1)*7] if ((x-1)*7) in data6['date'].index else None)
daily7['mid_week_date'] = daily7['week'].apply(lambda x: data7['date'][(x-1)*7] if ((x-1)*7) in data7['date'].index else None)
daily8['mid_week_date'] = daily8['week'].apply(lambda x: data8['date'][(x-1)*7] if ((x-1)*7) in data8['date'].index else None)
daily9['mid_week_date'] = daily9['week'].apply(lambda x: data9['date'][(x-1)*7] if ((x-1)*7) in data9['date'].index else None)
daily10['mid_week_date'] = daily10['week'].apply(lambda x: data10['date'][(x-1)*7] if ((x-1)*7) in data10['date'].index else None)

In [71]:
daily1

      week   index  soil_moisture mid_week_date
0      1.0     3.0       0.250857      4/2/2015
1      2.0    10.0       0.242266      4/9/2015
2      3.0    17.0       0.226301     4/16/2015
3      4.0    24.0       0.245940     4/23/2015
4      5.0    31.0       0.229759     4/30/2015
..     ...     ...            ...           ...
378  379.0  2649.0       0.303574     6/30/2022
379  380.0  2656.0       0.292631      7/7/2022
380  381.0  2663.0       0.281832     7/14/2022
381  382.0  2670.0       0.294404     7/21/2022
382  383.0  2676.0       0.288156     7/28/2022

[383 rows x 4 columns]

In [72]:
daily1 = daily1.drop(labels = ['week', 'index'], axis = 1)
daily2 = daily2.drop(labels = ['week', 'index'], axis = 1)
daily3 = daily3.drop(labels = ['week', 'index'], axis = 1)
daily4 = daily4.drop(labels = ['week', 'index'], axis = 1)
daily5 = daily5.drop(labels = ['week', 'index'], axis = 1)
daily6 = daily6.drop(labels = ['week', 'index'], axis = 1)
daily7 = daily7.drop(labels = ['week', 'index'], axis = 1)
daily8 = daily8.drop(labels = ['week', 'index'], axis = 1)
daily9 = daily9.drop(labels = ['week', 'index'], axis = 1)
daily10 = daily10.drop(labels = ['week', 'index'], axis = 1)

In [73]:
daily1.to_csv(r'C:\Users\Acer\Desktop\Soil_moisture_GLDAS\himal_weekly\NEW_GLDAS_point_soil_moisture_extraction_Himal_Bhalulekk.csv')
daily2.to_csv(r'C:\Users\Acer\Desktop\Soil_moisture_GLDAS\himal_weekly\NEW_GLDAS_point_soil_moisture_extraction_Himal_Dharapani.csv')
daily3.to_csv(r'C:\Users\Acer\Desktop\Soil_moisture_GLDAS\himal_weekly\NEW_GLDAS_point_soil_moisture_extraction_Himal_Gatlang.csv')
daily4.to_csv(r'C:\Users\Acer\Desktop\Soil_moisture_GLDAS\himal_weekly\NEW_GLDAS_point_soil_moisture_extraction_Himal_Gokyo.csv')
daily5.to_csv(r'C:\Users\Acer\Desktop\Soil_moisture_GLDAS\himal_weekly\NEW_GLDAS_point_soil_moisture_extraction_Himal_Lantang.csv')
daily6.to_csv(r'C:\Users\Acer\Desktop\Soil_moisture_GLDAS\himal_weekly\NEW_GLDAS_point_soil_moisture_extraction_Himal_Limi.csv')
daily7.to_csv(r'C:\Users\Acer\Desktop\Soil_moisture_GLDAS\himal_weekly\NEW_GLDAS_point_soil_moisture_extraction_Himal_Lo_Manthang.csv')
daily8.to_csv(r'C:\Users\Acer\Desktop\Soil_moisture_GLDAS\himal_weekly\NEW_GLDAS_point_soil_moisture_extraction_Himal_Olangchung_Gola.csv')
daily9.to_csv(r'C:\Users\Acer\Desktop\Soil_moisture_GLDAS\himal_weekly\NEW_GLDAS_point_soil_moisture_extraction_Himal_Shreemastha.csv')
daily10.to_csv(r'C:\Users\Acer\Desktop\Soil_moisture_GLDAS\himal_weekly\NEW_GLDAS_point_soil_moisture_extraction_Himal_Tinje.csv')

In [74]:
daily6

     soil_moisture mid_week_date
0         0.153704      4/2/2015
1         0.154978      4/9/2015
2         0.165313     4/16/2015
3         0.175991     4/23/2015
4         0.182945     4/30/2015
..             ...           ...
378       0.284864     6/30/2022
379       0.250993      7/7/2022
380       0.233810     7/14/2022
381       0.256737     7/21/2022
382       0.306219     7/28/2022

[383 rows x 2 columns]